.radioContainer {
    background: #31303A;
    overflow: hidden;
    transition: max-height 1s;
    max-height: 0;
}

.radioContainer a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid rgb(107, 107, 107);
    position: relative;

}

.listItem:target .radioContainer {
    max-height: 300px;
}