.bgStyle {
    background-image: linear-gradient(rgba(0, 0, 0, 0.626), rgba(0, 0, 0, 0.632)), url("https://images.unsplash.com/photo-1485579149621-3123dd979885?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.head {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    padding-top: 30px;
    margin-bottom: 30px;
}

.formContainer {
    width: 30%;
    margin: auto;
}

.formContainer input {
    width: 100%;
    padding: 15px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.submit {
    background-color: red;
    color: #fff;
    border: 1px solid red !important;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.submit:hover {
    background-color: transparent;
    border: 1px solid #fff !important;
}