.container {
    min-height: 80vh;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.383), rgba(0, 0, 0, 0.418)), url("https://res.cloudinary.com/ashraful-islam/image/upload/v1653316801/Assesment/banner4_c08sk8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container h1 {
    color: #fff;
    padding-top: 10px;
    margin-bottom: 20px;
}

.inputForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 40%;
    margin: auto;
}

.message {
    width: 100%;
}

.inputForm input,
.message {
    padding: 16px 15px;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    font-size: 18px;
}

.addressForm {
    max-width: 40%;
    margin: auto;
}

.message {
    max-width: 100%;
    margin-top: 10px;
}

.submitbtn {
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: rgb(212, 13, 13);
    display: block;
    padding: 14px 60px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    transition: ease-in-out 0.3s;
}

.submitbtn:hover {
    border: 0.1px solid rgb(255, 0, 0);
    background: #fff;
    color: rgb(255, 0, 0);
}