.bg {
    background-color: black;
    padding: 6px 0px;
}

.container {
    padding: 0 5%;
    margin: auto;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.getStarted a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background-color: red;
    padding: 10px 10px;
    border: 1px solid red;
    border-radius: 5px;
    transition: ease-in-out 0.25s;
}

.getStarted a:hover {
    background-color: transparent;
}

.logoStyle {
    width: 50px;
}

.unorderList {
    display: flex;
    list-style-type: none;
}

.unorderList a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.unorderList li {
    margin: 0px 2px;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: ease-in-out 0.25s;
}

.unorderList li:hover {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.unorderList li:focus {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
}