.container h1 {
    font-size: 30px;
    font-weight: 700;
    color: red;
    padding-top: 20px;
    margin-bottom: 20px;
}

.table {
    width: 60%;
    margin: 0px auto;
    cursor: pointer;
}

.tableHead th {
    background-color: black;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

tr,
td {
    text-align: center;
    padding: 10px 0;
}

.add {
    font-size: 20px;
    color: green;
    font-weight: 900;
}

.edit {
    color: blue;
    font-size: 17px;
}

.delete {
    color: red;
    font-size: 17px;
}