.bgStyle {
    min-height: 80vh;
    max-width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(82, 2, 2, 0.424)), url("https://live365.com/blog/content/images/2021/04/imageedit_2_2626752153.jpeg");
    background-attachment: fixed;
}

.container {
    padding: 10px;
}

.formContainer {
    background-color: rgba(255, 255, 255, 0.115);
    width: 40%;
    margin: auto;
    border-radius: 10px;
    padding: 50px 10px;
}

.welcome {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 4px;
}

.login {
    color: red;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.mainLogo {
    width: 15%;
    margin-bottom: 20px;
}

.inputContainer {
    width: 40%;
    margin: auto;
}

.label {
    font-size: 20px;
    color: rgb(177, 175, 175);
    font-weight: 600;
    text-align: left;
    display: block;
}

.email {
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
}

.submit {
    color: #fff;
    background-color: orange;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    border: 1px solid orange;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.submit:hover {
    background-color: transparent;
}

.new {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

.new a {
    margin-left: 10px;
    text-decoration: underline;
}

.new a:hover {
    color: orange;
}

.googleSignin {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.googleSignin:hover {
    background-color: orange;
    border: 1px solid orange;
}

.googleSignin p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}